{% extends "producer/dashboard/index.twig" %}

{% block heading %}
    <div class="row">
        <div class="col-lg-12">
            {% if paid is not empty %}

                <h1 class="page-header">
                    {{ labels.producer_dashboard_index_item_orders_paid }}
                </h1>

            {% elseif unpaid is not empty %}

                <h1 class="page-header">
                    {{ labels.producer_dashboard_index_item_orders_paid }}
                </h1>

            {% else %}
                <h1 class="page-header">
                    {{ labels.producer_dashboard_index_item_orders }}
                </h1>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% if paid is not empty %}
               <p>
                    {{ labels.producer_dashboard_orders_body_message_paid }} 
                </p>
            {% elseif unpaid is not empty %}  
                <p>
                    {{ labels.producer_dashboard_orders_body_message_unpaid }} 
                </p> 
            {% else %}
                <p>
                    {{ labels.producer_dashboard_orders_body_message }} 
                </p>
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% if allorders is not empty %}
                <a href="/app/producer/dashboard/orders" class="btn btn-default active">
                    {{ labels.producer_dashboard_index_item_orders }} 
                </a>

            {% else %}
                <a href="/app/producer/dashboard/orders" class="btn btn-default">
                    {{ labels.producer_dashboard_index_item_orders }} 
                </a>
            {% endif %}

            {% if paid is not empty %}
                <a href="/app/producer/dashboard/orders/paid" class="btn btn-default active">
                    {{ labels.producer_dashboard_orders_paid_button }} 
                </a>
            {% else %}
                <a href="/app/producer/dashboard/orders/paid" class="btn btn-default">
                    {{ labels.producer_dashboard_orders_paid_button }} 
                </a>
            {% endif %}

            {% if unpaid is not empty %}
                <a href="/app/producer/dashboard/orders/unpaid" class="btn btn-default active">
                    {{ labels.producer_dashboard_orders_unpaid_button }} 
                </a>
            {% else %}
                <a href="/app/producer/dashboard/orders/unpaid" class="btn btn-default">
                    {{ labels.producer_dashboard_orders_unpaid_button }} 
                </a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% if orders is empty %}
                <p>
                    {{ labels.producer_dashboard_orders_nocontent }}
                </p>
            {% else %}
                <div class="table-responsive">            
                    <table class="table table-hover table-striped submitted-photos-table">
                        <thead>
                            <tr>
                                <th>
                                    {{ labels.producer_dashboard_orders_order_id }}                        
                                </th>
                                <th>
                                    {{ labels.producer_dashboard_orders_customer_login }}                      
                                </th>
                                <th>
                                    {{ labels.producer_dashboard_orders_status }}     
                                </th>
                                <th>
                                    {{ labels.producer_dashboard_orders_method }}                    
                                </th>
                                <th>
                                    {{ labels.producer_dashboard_orders_total_amount }}                       
                                </th>

                                <th>
                                    {{ labels.producer_dashboard_orders_create_date }}                       
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for order in orders %}
                                <tr>                                    
                                    <td>
                                        {{ order.id }}
                                    </td>
                                    <td>
                                        {{ order.account.login }}
                                    </td>
                                    <td>
                                        {{ order.molliePaymentStatus }}
                                    </td>
                                    <td>

                                        {{  order.molliePaymentMethod }}
                                    </td>
                                    <td>
                                        {{ order.priceSum | numberformat("#.00") }}

                                    </td>
                                    <td>
                                        {{ order.molliePaymentCreatedDate }}

                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}