{% extends "customers/shops/index.twig" %}
{% block even_more_css %}
    <link href="/assets/customers/css/imgareaselect/imgareaselect-default.css" rel="stylesheet"/>
{% endblock %}
{% block even_more_js %}
    <script src="/assets/customers/js/jquery.imgareaselect.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.picture-detail').imgAreaSelect({ aspectRatio: '{{ picture.width }}:{{ picture.height }}',
                handles: true, onSelectEnd: function (img, selection) {
                    $('input[name="x1"]').val(selection.x1);
                    $('input[name="y1"]').val(selection.y1);
                    $('input[name="x2"]').val(selection.x2);
                    $('input[name="y2"]').val(selection.y2);
                }
            });
        });
    </script>
{% endblock %}   
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ picture.title }}
                </h2>
                <br/>
                <h2>{{ labels.customer_shop_crop_title}}</h2>
                <p>{{ labels.customer_shop_crop_expl}}</p>
                <img class="picture-detail" src="/assets/shops/{{ picture.session.shop.login }}/sessions/{{ picture.session.id }}/{{ picture.fileName }}">
                <p>
                    <span class="currency-sign-convertable">
                        {% if cookie.currency equals "GBP" %}
                            &pound;
                        {% else %}
                            &euro; 
                        {% endif %}
                    </span> 
                    <span class="currency-convertable">
                        {{ picture.price | numberformat("#.00") }}
                    </span>
                </p>
                <p>
                    {{ picture.description }}
                </p>
            </div>
        </div>

        <form id="add_to_cart">
            <input type="hidden" name="picture_id" value="{{ picture.id }}"/>

            <div class="row">
                <div class="col-md-12">
                    <h2>
                        {{ labels.customer_shop_products }}
                    </h2>

                    {% for type in types %}
                        <div class="col-md-4 product-display product-option {% if loop.index == 0 %} selected {% endif %}">
                            <input type="hidden" name="product_id" value="{{ type.id }}"/>
                            <img class="product-display" src="/assets/products/img/{{ type.filename }}"/>
                            <p>
                                <b>
                                    {{ type.name }}
                                </b>
                            </p>
                            <p>
                                {{ type.description }}
                            </p>
                            <p>
                                <span class="currency-sign-convertable">
                                    {% if cookie.currency equals "GBP" %}
                                        &pound;
                                    {% else %}
                                        &euro; 
                                    {% endif %}
                                </span> 
                                <span class="currency-convertable">
                                    {{ type.price | numberformat("#.00") }}
                                </span>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        {{ labels.customer_shop_colors }}
                    </h2>

                    {% for color in colors %}
                        <div class="col-md-4 color-display product-option {% if loop.index == 0 %} selected {% endif %}">
                            <input type="hidden" name="color" value="{{ color.color }}"/>
                            <img class="product-display" src="/assets/customers/img/{{ color.colorImage }}"/>
                            <p>
                                <b>
                                    {{ color.colorLabel }}
                                </b>
                            </p>
                        </div>  
                    {% endfor %}

                    <h2>
                        Kies uw aantal
                    </h2>
                    <div>
                        <input type="number" class="form-control product-amount" id="amount" name="amount" min="1" value="1"/>

                        <div class="cart-button add-to-cart">
                            {{ labels.customer_shop_addtocart }}
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="x1" value="-1" />
            <input type="hidden" name="y1" value="-1" />
            <input type="hidden" name="x2" value="-1" />
            <input type="hidden" name="y2" value="-1" />
        </form>
    </div>
{% endblock %}
